.container {
    display: flex;
    margin-top: 1rem;
    margin-bottom: 1rem;
    height: 80vh; 
  }
  
  .left {
    flex: 1; 
    background-color: #f0f0f0; 
    padding: 1em;
    position: relative;
  }
  
  .right {
    flex: 2; 
    padding: 1em;
    background-color: #ccc;
    overflow: auto;
  }

  .group{
    margin: 1rem;

  }

  .input{

    margin-bottom: 1rem;

  }

  .addNewVolunteer{
    position: absolute;
    padding-left: 1em;
    padding-right: 1em;
    left: 1rem;
    bottom: 1rem;
  }

  .activitiesAndGenderContainer{
    display: flex;
    flex-direction: row;
    justify-content: left;
    flex-wrap: wrap;
  }

  .displayVolunteersContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }