.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.5); 
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 350px; 
 
}
  
  .popup-content {
    position: relative;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
     max-width: 350px;
     z-index: 1001;
  }
  
  .md{
    max-height: 200px;
  }
  .lg{
    max-height: 350px;
  }

.scrollable-div {
  max-height: 350px;
    overflow-y: auto; 
}

:root{
  min-width: 350px;
}


.volunteer-item{
  display: flex;
  justify-content: space-between; 
  align-items: center;
  margin-bottom: 3px;
}
  